body {
  width: 95%;
  margin: 2em auto;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

#selectingPato{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datosJugador{
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
}

#datosJugador > div{
  width: 100%;
  text-align: center;
}

#datosJugador > label {
  width: 60%;
  display: flex;
  align-items: center;
  height: 65px;
}

#datosJugador span{
  width: 40%;
  text-transform: capitalize;
  font-style: italic;
}

input#txtName{
  width: 60%;
}

button#btnConfirmarJugador{
  width: 30%;
  margin: 2em 5em;
}

label#lblMensajeJugadorConfiramdo{
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}

div#coloresPato{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

div#coloresPato label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  cursor: pointer;
}

.gameDiv {
  display: none;
}

#tablero > ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#tablero > ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label[id^="lblCielo"]{
  margin-top: 1em;
}


#infoBlock{
  display: flex;
  justify-content: space-between;
}


div#infoBlock > div:first-of-type {
  width: 50%;
}

div#infoBlock > div:first-of-type > ul {
  display: flex;
  width: 80%;
  margin: 2em auto;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}


form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 95%;
  display: none
}
